@import url("normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url('style.css');
.header__nav{
    display: block;
}
.main__page{
    grid-template-columns: repeat(2, 1fr);
}
.card__full{
    display: flex;
	flex-direction: column;
}
.card__content img{
    border-radius: 5px;
}
@media screen and (max-width: 1400px){
    .main__page{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media screen and (max-width: 750px){
    .trailer iframe{
        width: 500px;
        height: 400px;
    }
}
@media screen and (max-width: 550px){
    .trailer iframe{
        width: 400px;
        height: 300px;
    }
}