@import url("normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
body {
  background: url("img/background_main.dark.jpg") no-repeat fixed;
}

.title {
  cursor: pointer;
}

.hidden {
  cursor: pointer;
  visibility: hidden;
}

.header__filter-wrapper {
  display: flex;
  justify-content: space-between;
}
.header__filter-wrapper .wrapper__search input {
  background-color: #DF6951;
  border: 1px solid #DF6951;
  border-radius: 10px;
  padding: 5px;
  color: #e4e4e4;
}
.header__filter-wrapper .wrapper__search input:focus {
  outline: 0;
  outline-offset: 0;
}

input::-webkit-input-placeholder {
  color: #e4e4e4;
  opacity: 0.7;
}

input::-moz-placeholder {
  color: #e4e4e4;
  opacity: 0.7;
}

.wrapper__img img, .next, .previous {
  margin-top: 30px;
}

.header__nav {
  max-width: 1120px;
  display: flex;
  justify-content: space-between;
}

.container {
  font-family: "Roboto", sans-serif;
  color: #e4e4e4;
  font-size: 18px;
  max-width: 1440px;
  margin: 0 auto;
}

.filter__button, .rating__button {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #FFBBAD;
  background-color: #DF6951;
  border: none;
  padding: 5px 15px;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.rating-text {
  margin: 10px 0 20px 0;
}

.rating__button {
  padding: 10px;
  text-transform: none;
  margin-bottom: 10px;
}

.rating__btns {
  justify-content: space-between;
}

.header__content {
  margin: 30px 0;
}

.filter__content {
  display: none;
  z-index: 1;
}

.show {
  display: block;
}

.header__filter {
  display: flex;
  margin-bottom: 30px;
}

.header__genre, .header__year, .header__cense {
  margin: 10px 50px 0 0;
  display: flex;
  flex-direction: column;
}
.header__genre span, .header__year span, .header__cense span {
  display: flex;
  width: 150px;
  justify-content: space-between;
}

.title {
  text-align: center;
  margin-left: 300px;
}

.main__style {
  position: relative;
  padding: 40px;
  gap: 15px;
  background-color: #1A1419;
  border: 1px solid #1A1419;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.main__style:after {
  content: "";
  display: block;
  background: url(img/uzor1.svg) fixed;
  position: absolute;
  width: 1440px;
  margin: 0 auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  opacity: 0.15;
  pointer-events: none;
}
.main__style .trailer {
  z-index: 1;
}

.card {
  z-index: 2;
}

.filter__button:hover {
  scale: 0.9;
}

.card__content .img {
  width: 200px;
  height: 290px;
  transition: all 0.2s ease-in-out;
  display: block;
}
.card__content .img:hover {
  transform: scale(1.1, 1.1);
  -webkit-box-shadow: 12px 12px 50px 2px rgba(223, 105, 81, 0.4);
  -moz-box-shadow: 12px 12px 50px 2px rgba(223, 105, 81, 0.4);
  box-shadow: 12px 12px 50px 2px rgba(223, 105, 81, 0.4);
}
.card__content .card__text-rate {
  margin-top: 20px;
  font-size: 18px;
}
.card__content .card__text-rate span {
  color: #DF6951;
}

.card__object .card__text-rate {
  font-size: 20px;
}
.card__object .card__title {
  font-size: 30px;
}
.card__object img {
  width: 300px;
  height: 435px;
}
.card__object:hover {
  transform: none;
}

.card__full {
  gap: 0;
  width: 650px;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.card__full .card__info {
  margin-left: 20px;
}
.card__full .card__info .card__info-text {
  color: #DF6951;
}
.card__full .card__info .card__year {
  margin-bottom: 20px;
}
.card__full .card__info .card__description span {
  color: #e4e4e4;
}

.card__desc {
  margin-bottom: 10px;
}
.card__desc .card__title {
  margin: 0;
}

span label {
  cursor: pointer;
}

.checkselect {
  max-height: 200px;
  width: 150px;
  overflow-y: scroll;
}

.checkselect::-webkit-scrollbar {
  display: none;
}

/*# sourceMappingURL=style.css.map */
