@import url("normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
body {
  user-select: none;
  background: url("img/background_main.dark.jpg") no-repeat fixed center;
  background-size: cover;
  box-sizing: border-box;
}

.img__link {
  max-width: 250px;
  display: block;
}

.hidden {
  cursor: pointer;
  visibility: hidden;
}

.header__filter-wrapper {
  display: flex;
  justify-content: space-between;
}
.header__filter-wrapper input {
  background-color: #DF6951;
  border: 1px solid #DF6951;
  border-radius: 10px;
  padding: 5px;
  color: #e4e4e4;
}
.header__filter-wrapper input:focus {
  outline: 0;
  outline-offset: 0;
}

.after {
  position: relative;
}
.after:after {
  content: "";
  z-index: 33131;
  left: 170px;
  top: 5px;
  width: 20px;
  height: 20px;
  background-image: url("img/optimist.png");
  background-size: 20px 20px;
  position: absolute;
  color: white;
}

input::-webkit-input-placeholder {
  color: #e4e4e4;
  opacity: 0.7;
}

input::-moz-placeholder {
  color: #e4e4e4;
  opacity: 0.7;
}

.wrapper__img img, .next, .previous {
  margin-top: 30px;
}

.container {
  font-family: "Roboto", sans-serif;
  color: #e4e4e4;
  font-size: 18px;
  max-width: 1440px;
  margin: 0 auto;
}

.filter__button, .rating__button {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #FFBBAD;
  background-color: #DF6951;
  border: none;
  padding: 5px 15px;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.rating-text {
  margin: 10px 0 20px 0;
}

.rating__button {
  padding: 10px;
  text-transform: none;
  margin-bottom: 10px;
}
.rating__button:hover {
  background-color: #b95642;
}

.rating__btns {
  justify-content: space-between;
}

.header__content {
  margin: 30px 0;
}

.filter__content {
  display: none;
  z-index: 1;
}

.show {
  display: block;
}

.header__filter {
  display: flex;
  margin: 30px 0px;
}

.header__genre, .header__year, .header__cense {
  margin: 10px 50px 0 0;
  display: flex;
  flex-direction: column;
}
.header__genre span, .header__year span, .header__cense span {
  display: flex;
  max-width: 150px;
  justify-content: space-between;
}
.header__genre span input, .header__year span input, .header__cense span input {
  border-radius: 10px;
}

.main__style {
  position: relative;
  padding: 40px;
  gap: 15px;
  background-color: #1A1419;
  border: 1px solid #1A1419;
  border-radius: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.main__style:after {
  content: "";
  display: block;
  background: url(img/uzor1.svg) fixed;
  position: absolute;
  max-width: 1440px;
  margin: 0 auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  opacity: 0.15;
  pointer-events: none;
}
.main__style .trailer {
  z-index: 1;
}

.filter__button:hover {
  scale: 0.9;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__content .img {
  transition: all 0.2s ease-in-out;
  display: block;
  border-radius: 5px;
}
.card__content .img:hover {
  transform: scale(1.1, 1.1);
  -webkit-box-shadow: 12px 12px 50px 2px rgba(223, 105, 81, 0.4);
  -moz-box-shadow: 12px 12px 50px 2px rgba(223, 105, 81, 0.4);
  box-shadow: 12px 12px 50px 2px rgba(223, 105, 81, 0.4);
}
.card__content .card__text-rate {
  margin-top: 20px;
  font-size: 18px;
}
.card__content .card__text-rate span {
  color: #DF6951;
}

.card__object .card__text-rate {
  font-size: 20px;
}
.card__object .card__title {
  font-size: 30px;
}
.card__object img {
  max-width: 300px;
  max-height: 435px;
}
.card__object:hover {
  transform: none;
}

.card__full {
  gap: 0;
  max-width: 650px;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.card__full .card__info {
  margin-left: 20px;
}
.card__full .card__info .card__info-text {
  color: #DF6951;
}
.card__full .card__info .card__year {
  margin-bottom: 20px;
}
.card__full .card__info .card__description span {
  color: #e4e4e4;
}

.card__desc {
  max-width: 250px;
  margin-bottom: 10px;
}
.card__desc .card__title {
  margin: 0;
}

span label {
  cursor: pointer;
}

.checkselect {
  max-height: 200px;
  max-width: 150px;
  overflow-y: scroll;
}
.checkselect::-webkit-scrollbar {
  display: none;
}

#form__add {
  display: none;
  animation-duration: 1.5s;
  animation-fill-mode: both;
  animation-name: fadeIn;
}
#form__add .wrapper__img {
  margin-bottom: 30px;
}
#form__add .wrapper__img img {
  margin: 0;
}
#form__add form input {
  background-color: #fff;
  border-color: #e4e4e4;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  border-width: 1px;
  border-style: solid;
  color: #332f2d;
  padding: 10px;
  width: 96%;
}
#form__add form input:focus {
  outline: none;
}

#form__add.open {
  display: block;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease;
  display: none;
  z-index: 100;
}

.popup_open {
  display: block;
}

.popup__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #DF6951;
  border-radius: 10px;
  max-width: 700px;
  width: 100%;
}

.popup__wrapper {
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.form__p {
  margin: 0 0 5px 0;
  display: block;
  color: red;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#Search {
  outline: none;
}

@media screen and (max-width: 1400px) {
  .main__style {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 1000px) {
  .main__style {
    grid-template-columns: repeat(2, 1fr);
  }
  .header__filter-wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }
  .header__filter-wrapper #Search {
    width: 100%;
    padding: 10px;
  }
  .header__filter-wrapper .wrapper__search {
    margin: 0 auto;
    width: 90%;
  }
  .header__filter-wrapper .wrapper__button {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (max-width: 600px) {
  .main__style {
    grid-template-columns: repeat(1, 1fr);
  }
  .header__filter-wrapper #Search {
    width: 94%;
    padding: 10px;
  }
  .header__filter-wrapper .wrapper__button {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  .header__filter-wrapper .wrapper__button #Filter {
    margin-bottom: 30px;
  }
}

/*# sourceMappingURL=style.css.map */
